.member-footer {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding:2% 5%;
    font-family: "NetflixSansLight", sans-serif;
    color:var(--gray);
    background-color: var(--black);
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.footer-links {
  font-size: 0.813rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  text-decoration: none;
}

.social-links {
  display: flex;
  margin: 1em 0 0;
}

.social-links a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  margin-right: 0.938rem;
}

.footer-link-wrapper {
  list-style-type: none;
  flex: 0 0 50%;
  margin-bottom: 1em;
}

.member-footer,
.footer-service {
  margin-bottom: 1.25rem;
}

.service-code-btn {
  background: transparent;
  color: grey;
  border: solid 1px grey;
  padding: 0.5em;
  margin-bottom: 20px;
}

.footer-copyright {
  font-size: 11px;
  margin-bottom: 1.25rem;
}

/* Desktop */
@media (min-width: 600px) {
  .member-footer {
    display: flex;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    width: 100%;
  }
  .footer-links {
    display: flex;
    flex-direction: row;
  }
  .footer-link-wrapper {
    list-style-type: none;
    flex: 0 0 25%;
    margin-bottom: 1em;
  }
}
