@import '../../assets/scss/mixins';

.member-footer {
  @include pagePadding;
  position: relative;
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 2em;
  background-color: var(--black);
  font-family: 'NetflixSansLight', sans-serif;
  color: var(--gray);
  @include breakpoint(md) {
    width: 90%;
  }
  @include breakpoint(lg) {
    width: 80%;
  }
}
.footer-links {
  font-size: 0.813rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  margin: 0 0 1rem 0;
  text-decoration: none;
}
.social-links {
  display: flex;
  margin: 1em 0;
  a {
    margin-right: 0.938rem;
    text-decoration: none;
    cursor: pointer;
  }
}
.footer-link-wrapper {
  list-style-type: none;
  flex: 50%;
  margin-bottom: 1em;
  @include breakpoint(md) {
    flex: 30%;
  }
  @include breakpoint(lg) {
    flex: 25%;
  }
}
.member-footer,
.footer-service {
  margin-bottom: 1.25rem;
}
.service-code-btn {
  background: transparent;
  color: grey;
  border: solid 1px grey;
  padding: 0.5em;
  margin-bottom: 2em;
}
.footer-copyright {
  font-size: 11px;
  margin-bottom: 1.25rem;
}
