.modal-footer-container {
  background-color: #181818;
  padding-bottom: 2em;
}

.modal-footer-header {
  font-weight: 400;
  font-size: 24px;
  padding-top: 48px;
  margin-bottom: 20px;
}

.modal-footer-item {
  font-size: 14px;
  line-height: 20px;
  margin: 0.5em;
  margin-left: 0;
  word-break: break-word;
}
