@import '../../assets/scss/mixins';

.footerWrapper {
  @include pagePadding;
  width: 100%;
  padding-top: 4em;
  padding-bottom: 3em;
  background-attachment: scroll;
  background-blend-mode: multiply;
  background: var(--blackTrans);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footerContainer {
  font-family: 'NetflixSansThin', sans-serif;
  color: var(--gray);
  display: flex;
  flex-direction: column;
  @include breakpoint(sm) {
    max-width: 100%;
    margin: 0 auto;
  }
  @include breakpoint(md) {
    max-width: 85%;
    margin: 0 auto;
    padding-left: 6%;
  }
  @include breakpoint(lg) {
    max-width: 65%;
    margin: 0 auto;
    padding-left: 5%;
  }
  .footer-title {
    font-size: 1rem;
  }
  .footer-links {
    width: 100%;
    margin-top: 2rem;
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      li {
        display: block;
        width: 50%;
        margin-bottom: 1rem;
        @include breakpoint(md) {
          width: 33%;
        }
      }
    }
  }
}
.selectorContainer {
  height: 4em;
  width: 13em;
  margin: 1em 0 1.5em 0;
  opacity: .6;
  div select {
    font-family: "NetflixSansThin";
    font-size: 1em;
  }
}

