.btn-red {
  width: 100%;
  font-family: "NetflixSansLight";
  color: var(--white);
  background-color: var(--red);
  border: none;
  outline: none;
  cursor: pointer;
  &:hover{
    background-color: #f40612;
    transition: all 0.4s ease-in-out;

  }
}
