path, circle {
  fill: transparent;
  stroke: #222;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1100;
  stroke-dashoffset: 0;
  animation: dash 5s ease;
  // max-width: 100px;
  // max-height: 100px;
  padding: 5px;
  transition: .3s;
  &:hover {
    fill: #222;
  }
}

.cat {
  stroke: #f9c89d;
  &:hover {
    fill: #ffd4aa;
  }
}

.ball {
  stroke: #f99ad5;
  &:hover {
    fill: #ffaad4;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1100;
  }
  to {
    stroke-dashoffset: 0;
  }
}

// .cat__svg{
//   position: absolute;
//   inset:0;

// }