.loader {
  // background: red;
  width: 100%;
  position: relative;
  height: 120px;

// height: 120%;
// border: 1px solid red;
}

.loader__track {
  display: flex;
  align-items: center;
  height: 100%;
  // border: 1px solid orange;
}
.loader__items {
  height: 100%;
  aspect-ratio:16/9;
  flex: 1;
  margin:0 10px;
  // border: 2px solid red;
  background:    #b1060f;
  background-image: url("https://images.unsplash.com/photo-1456796148441-485386946471?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  box-shadow: 0px 1px 2px 0px rgba(177, 6, 15, 0.7),
    1px 2px 4px 0px rgba(177, 6, 15, 0.7),
    2px 4px 8px 0px rgba(177, 6, 15, 0.7),
    2px 4px 16px 0px rgba(177, 6, 15, 0.7);
  box-shadow: inset -10px -5px 15px rgba(255, 255, 255, 0.5),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

.loader__content {
  // border: 1px solid blue;
  // background: pink;
  //  background: #1a1a1a;
  border-radius: 8px;
  height: 100%;
  box-shadow:

     rgba(177, 6, 15, 0.4) 5px 5px,
      rgba(177, 6, 15, 0.3) 10px 10px,
      rgba(177, 6, 15, 0.2) 15px 15px,
       rgba(177, 6, 15, 0.1) 20px 20px,
      rgba(177, 6, 15, 0.05) 25px 25px;

}


.cat-dummy{
height: 100%;
width: 100%;
object-fit: cover;
border-radius: 8px;
}