.landing-page-header{
  height: 6rem;
  padding-top: 1rem;
  width: 100%;
  background: transparent;
  position: relative;
  top: -7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .logo{
    margin-left: 3rem;
    font-size: 3rem;
    color: var(--red);
  }
}