@import '../../assets/scss/mixins';

.buttonRound {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.8em;
  width: 2.8em;
  margin: 0.3em;
  border-radius: 50%;
  transition: 0.6s;
  cursor: pointer;
  svg {
    height: 1.3rem;
    width: auto;
    margin: auto;
  }
}

.buttonDark {
  background-color: transparent;
  border: 2px solid var(--whiteOpacity);
  &:hover {
    background-color: var(--midgrey);
    border: 2px solid var(--white);
  }
}

.buttonLight {
  background-color: var(--white);
  border: none;
  &:hover {
    background-color: var(--smokewhite);
    opacity: 0.8;
  }
}

.buttonTooltip .tooltipText {
  position: absolute;
  bottom: 130%;
  left: 50%;
  transform: translate(-50%);
  padding: 0.3em 0.5em;
  visibility: hidden;
  width: fit-content;
  white-space: nowrap;
  background-color: var(--smokewhite);
  border-radius: 3px;
  font-family: 'NetflixSansBold';
  color: var(--black);
  opacity: 0;
  z-index: 1;
  transition: opacity 0.4s;
}

.buttonTooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}

.buttonTooltip .tooltipText::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  height: 5px;
  width: 12px;
  margin-left: -6px;
  border-top: 5px solid var(--smokewhite);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
