.hero-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    // background: rgba(0,0,0,0.6);
    background-size: cover;
    // background-blend-mode: multiply;
    border-bottom: 8px solid #222;
    &::before {
      content: '';
      position: absolute;
      background: rgba(0,0,0,0.6);
      background-image: linear-gradient(
        to top,
        rgba(0,0,0,0.8) 0,
        rgba(0,0,0,0.0) 30%,
        rgba(0,0,0,0.0) 50%,
        rgba(0,0,0,0.8) 100%
      );
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
    }
  }
  
  .hero-card {
    margin-top: 3.4rem;
    margin-bottom: 2em;
    text-align: center;
    &-title {
      display: block;
      width: 100%;
      font-size: 1.75rem;
      font-family: 'NetflixSansMedium';
      color: var(--white);
      line-height: 1.1;
      margin: 0 auto;
    }
    &-subtitle {
      display: block;
      width: 100%;
      font-size: 1.125rem;
      font-family: 'NetflixSansLight';
      color: var(--white);
      margin: 1rem auto;
    }
  }
  .email-form {
    &-title {
      font-family: 'NetflixSansLight';
      display: block;
      max-width: 350px;
      margin: 0.5rem auto;
      font-size: 18px;
      padding: 0 8%;
    }
    &-input {
      height: 3rem;
      padding: 10px;
      width: 90%;
      margin-bottom: 1rem;
      outline: none;
      border: none;
    }
    Button {
      height: 2.5rem;
      width: 8.125rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      padding-left: .3rem;
      cursor: pointer;
      font-family: 'NetflixSansLight';
      div {
        display: flex;
        align-items: center;
        height: 100%;
      }
    }
  }
  
  @media only screen and (min-width: 950px) and (max-width: 1449px),
    only screen and (min-width: 1450px) {
    .hero-container {
      top: -65px;
      // max-width: 1440px;
      height: 800px;
    }
    .hero-card {
      text-align: center;
      position: relative;
      margin-top: 13rem;
      &-title {
        font-size: 3.125rem;
        line-height: 1.1;
      }
      &-subtitle {
        font-size: 1.625rem;
      }
    }
    .email-form {
      max-width: 950px;
      padding-top: 0.85rem;
      &-title {
        min-width: 950px;
        font-size: 1.2rem;
        margin: 0 auto 1rem;
      }
      &-input {
        height: 4rem;
        width: 450px;
        margin-right: 0.1em;
        font-size: 1.625rem;
      }
      Button {
        height: 4rem;
        width: 13.25rem;
        padding: 2rem 0;
        font-size: 1.625rem;
        
      }
    }
  }