.hero-container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  height: 700px;
}
.hero-card{
  text-align: center;
  &-title{
    display: block;
    width: 100%;
    font-size: 3.2rem;
    font-family: "NetflixSansBold";
    color: var(--white);
    font-weight: 700;
    line-height: 1.1;
  }
  &-subtitle{
    display: block;
    width: 100%;
    font-size: 1.6rem;
    font-family: "NetflixSansRegular";
    color: var(--white);
    font-weight: 700;
    margin: 1rem auto;
  }

}
.email-form{
  max-width: 950px;
  padding-top: 1rem;
  
}