.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-video {
  width: 100%;
  height: auto;
  align-self: center;
}

.hero-description {
  position: absolute;
  top: 35%;
  left: 60px;
  width: 36%;
  justify-content: center;
  align-items: center;
  display: block;
}
