@import '../../assets/scss/mixins';

.home-hero {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.home-hero-row {
  user-select: none;
  touch-action: pan-y;
  margin-bottom: 20px;
  background-color: var(--black);
  padding-bottom: 60%;
  @include breakpoint(sm) {
    padding-bottom: 40%;
  }
  @include breakpoint(lg) {
    padding-bottom: 45%;
  }
}

.home-hero-container {
  position: absolute;
  background-color: var(--black);
  width: 100%;
  height: 70vw;
  z-index: 0;
  @include breakpoint(sm) {
    height: 56.25vw;
  }
  @include breakpoint(md) {
    height: 65vw;
  }
  @include breakpoint(lg) {
    height: 56.25vw;
  }
}

.home-hero-trailer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.trailer-overlay {
  background: linear-gradient(
    77deg,
    rgba(0, 0, 0, 0.6) 0,
    rgba(0, 0, 0, 0) 85%
  );
  background-position: center center;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  right: 26.09%;
  width: 100%;
  bottom: 0;
  opacity: 1;
  transition: opacity 0.5s;
}

.overlay {
  z-index: 8;
  position: absolute;
  left: 0;
  right: 0;
}

.home-hero-overlay {
  background-image: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0) 0,
    rgba(20, 20, 20, 0.15) 15%,
    rgba(20, 20, 20, 0.35) 29%,
    rgba(20, 20, 20, 0.58) 44%,
    #141414 68%,
    #141414 100%
  );
  background-size: 100% 100%;
  background-position: 0 top;
  background-repeat: repeat-x;
  background-color: transparent;
  width: 100%;
  height: 19vw;
  top: auto;
  bottom: -1px;
  opacity: 1;
}

.home-hero-fill-container {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

.home-hero-info {
  position: absolute;
  top: 0;
  bottom: 30%;
  left: 4%;
  width: 40%;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  @include breakpoint(md) {
    bottom: 40%;
  }
  @include breakpoint(lg) {
    bottom: 35%;
  }
}

.title-wrapper {
  min-height: 13.2vw;
  position: relative;
  margin-bottom: 1.2vw;
  @include breakpoint(sm) {
    min-height: 13.2vw;
  }
}

.info-wrapper {
  color: var(--white);
  font-weight: 400;
  line-height: normal;
  width: 100%;
  font-size: 1.4vw;
  text-shadow: 2px 2px 4px var(--black);
  margin-top: 0.1vw;
  margin: 0.5vw 0 0 0;
}

.button-wrapper {
  margin-top: 1.5vw;
  white-space: nowrap;
  display: flex;
  line-height: 88%;
}

.home-hero-button {
  align-items: center;
  appearance: none;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  opacity: 1;
  user-select: none;
  margin-right: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  @include breakpoint(sm) {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  @include breakpoint(md) {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
  @include breakpoint(lg) {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
}

.home-hero-play-button {
  background-color: var(--white);
  user-select: none;
  &:hover {
    background-color: rgb(214, 214, 214);
  }
}

.home-hero-info-button {
  background-color: var(--midgrey);
  color: var(--color-white);
  user-select: none;
  &:hover {
    background-color: rgba(109, 109, 110, 0.562);
  }
  &:focus {
    border: 2px solid var(--white);
  }
}

.has-icon {
  padding-left: 0.5rem;
  padding-right: 1rem;
  @include breakpoint(md) {
    padding-left: 1.2rem;
    padding-right: 1.8rem;
  }
  @include breakpoint(lg) {
    padding-left: 2rem;
    padding-right: 3rem;
  }
}

.breadcrumb {
  width: 0.5rem;
  @include breakpoint(md) {
    width: 0.8rem;
  }
  @include breakpoint(lg) {
    width: 1rem;
  }
}

.home-hero-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.2rem;
  width: 1.2rem;
  @include breakpoint(sm) {
    height: 1.8rem;
    width: 1.8rem;
  }
  @include breakpoint(lg) {
    height: 2rem;
    width: 2rem;
  }
}

.home-hero-button-text {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  font-size: 0.7rem;
  @include breakpoint(md) {
    font-size: 1rem;
  }
  @include breakpoint(lg) {
    font-size: 1.367rem;
  }
}

.home-hero-buttton-component {
  position: absolute;
  right: 0;
  bottom: 16%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  @include breakpoint(sm) {
    bottom: 1%;
  }
  @include breakpoint(md) {
    bottom: 4%;
  }
  @include breakpoint(lg) {
    bottom: 18%;
  }
}

.home-hero-volume-button-wrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  margin: 0 0.5rem 0 0;
  @include breakpoint(lg) {
    margin: 0 1rem 0 0;
  }
}

.home-hero-volume-button {
  align-items: center;
  background-color: transparent;
  border: 2px solid var(--white);
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-size: 0.6rem;
  justify-content: center;
  opacity: 1;
  padding: 0.2rem;
  position: relative;
  border-radius: 50%;
  @include breakpoint(sm) {
    font-size: 0.73rem;
  }
  @include breakpoint(md) {
    font-size: 1rem;
  }
  @include breakpoint(lg) {
    font-size: 1.2rem;
  }
  border: 2px solid var(--white);
  &:hover {
    background-color: var(--midgrey);
    border: 2px solid var(--white);
  }
}

.home-hero-maturity-rating {
  border: solid 3px var(--white);
  border-style: none none none solid;
  background-color: rgba(51, 51, 51, 0.6);
  font-size: 0.8rem;
  padding: 0.3rem 1rem 0.3rem 0.3rem;
  display: flex;
  align-items: center;
  height: 2.4rem;
  box-sizing: border-box;
  @include breakpoint(sm) {
    font-size: 0.9rem;
    padding: 0.4rem 2rem 0.4rem 0.7rem;
  }
  @include breakpoint(md) {
    height: 3rem;
    font-size: 1.2rem;
    padding: 0.9rem 3rem 0.9rem 0.7rem;
  }
  @include breakpoint(lg) {
    height: 3.5rem;
    font-size: 1.4rem;
    padding: 0.9rem 5rem 0.9rem 0.7rem;
  }
  @include breakpoint(xlg) {
    font-size: 1.4rem;
    padding: 0.9rem 7rem 0.9rem 0.7rem;
  }
}
