.member-footer {
    max-width: 980px;
    margin: 2.5em auto 0;
    padding: 0 4%;
    font-family: "NetflixSansRegular", sans-serif;
    color:var(--gray);
    background-color: var(--black);
    display: block;
    position: static;
}

.footer-links {
    font-size: 13px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 0 0.875em 0;
    padding: 0;
    text-decoration: none;
}

.social-links {
    display: flex;
    margin-bottom: 1em;
}

.social-links a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    margin-right: 0.938em;
    line-height: 1.2;
}

.footer-links ul {
    margin-right: 0.938em;
    display:flex;
    font-size: 0.813em;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 0 0.875em 0;
    padding: 0;
}

.footer-link-wrapper  {
    list-style-type: none;
    flex: 0 0 25%;
    margin-bottom: 1em;
}

.member-footer,
.footer-service {
    margin-bottom: 20px;
}

.service-code-btn {
    background: 0 0;
    color: grey;
    border: solid 1px grey;
    padding: 0.5em;
    margin-bottom: 20px;
}

.footer-copyright {
    font-size: 11px;
    margin-bottom: 15px;
}

