@import '../../assets/scss/mixins';

.header-video {
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 500;
}

.header-overlay {
  background: linear-gradient(to top, #181818, transparent 50%);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.header-description {
  position: absolute;
  bottom: 8%;
  left: 0.4rem;
  @include breakpoint(sm) {
    bottom: 5%;
    left: 3em;
  }
}

.header-title {
  font-size: 2rem;
  width: 100%;
  @include breakpoint(lg) {
    font-size: 4.57rem;
  }
}

.header-button-container {
  display: flex;
  align-items: center;
}

.header-play-button {
  align-items: center;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  user-select: none;
  margin-right: 0.5rem;
  padding-right: 1.5rem;
  height: 2rem;
  &:hover {
    background-color: rgb(214, 214, 214);
  }
  @include breakpoint(md) {
    height: 2.4rem;
  }
}

.header-play-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 1rem;
  @include breakpoint(md) {
    height: 1.8rem;
    width: 1.8rem;
  }
  @include breakpoint(lg) {
    height: 2rem;
    width: 2rem;
  }
}

.header-icon-wrapper {
  align-items: center;
  appearance: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--white);
  &:hover {
    border-color: var(--white);
    border-width: 3px;
  }
}

.rating-button-wrapper {
  position: absolute;
  justify-content: space-evenly;
  align-items: center;
  background-color: #232323;
  color: #a9a9a9;
  display: none;
  transition: all 250ms ease-in-out;
  padding: 2rem 6rem;
  &:hover {
    border-radius: 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.281);
    .dislike-button {
      transform: translateX(-100%);
      margin-right: 5rem;
    }
    .lovelike-button {
      transform: translateX(100%);
      margin-left: 5rem;
    }
  }
}

.rating-button {
  position: absolute;
  transition: all 250ms ease-in-out;
  border: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    position: relative;
    border-radius: 50%;
    border: none;
  }
}
