.lane {
    overflow: hidden;
    transform: translateX(5vw);
}

.inner {
    white-space: nowrap;
    transition: transform 0.7s;
}

.lane-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    width: 15vw;
    background-color: var(--red);
    border: 4px solid  var(--black);
    color: var(--white);
    border-radius: 8px;

}