@import '../../assets/scss/mixins';

.laneContainer {
  pointer-events: none;
  position: relative;
  overflow: hidden;
  padding: 5.5em 0;
  top: -120px;
  margin-bottom: -150px;
  @include breakpoint(sm) {
    padding: 5.5em 0;
    margin-bottom: -150px;
    top: -80px;
  }
  @include breakpoint(md) {
    padding: 7.25em 0;
    margin-bottom: -200px;
    top: -100px;
  }
  @include breakpoint(lg) {
    padding-bottom: 50vh;
    padding-top: 50vh;
    margin-bottom: -95vh;
    top: -55vh;
  }
}
.lane {
  position: relative;
  pointer-events: auto;
  padding-left: 5vw;
  &:hover {
    .pageIndicator_container {
      opacity: 1;
    }
    .laneNameButton {
      opacity: 1;
    }
  }
}

.laneName {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 1.4em;
  font-family: NetflixSansBold;
  left: 4px;
  &:hover {
    .laneNameButtonOpened {
      opacity: 1;
      width: 100%;
    }
  }
}
.movie-image {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  object-fit: contain;
  overflow: hidden;
}
.inner {
  white-space: nowrap;
}
.laneItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(----transparent);
  border: 3.5px solid var(--transparent);
  color: var(--white);
  border-radius: 7%;
  overflow: hidden;
}
.laneItemTitle {
  position: absolute;
  bottom: 10%;
  text-shadow: 1px 1px var(--black);
  color: var (--smokewhite);
  // opacity: 0.7;
  font-size: 0.8vw;
}
.laneNameButton {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 0.4em;
  stroke: var(--white);
  stroke-width: 4;
  opacity: 0;
  cursor: pointer;
}
.laneNameButtonOpened {
  display: flex;
  align-items: center;
  margin-left: 1vw;
  background: none;
  border: none;
  white-space: nowrap;
  color: var(--white);
  font-size: 1.5em;
  font-family: NetflixSansBold;
  overflow: hidden;
  width: 0;
  transition: 0.6s;
  opacity: 0;
}
.indicator {
  font-size: 1vw;
  border: none;
  background-color: var(--black);
  opacity: 0.5;
  position: relative;
  svg {
    opacity: 0;
  }
  cursor: pointer;
  &:hover {
    opacity: 0.8;
    svg {
      opacity: 1;
    }
  }
}
.indicator_inactive {
  opacity: 0;
}
.indicators {
  position: relative;
  pointer-events: none;
}
.indicator_prev {
  left: calc(-5vw - 2px);
  stroke: var(--white);
  stroke-width: 2;
  pointer-events: auto;
  border-radius: 0 3% 3% 0;
  transform: translateY(0.7vh);
}
.indicator_next {
  right: -85vw;
  stroke: var(--white);
  stroke-width: 2;
  pointer-events: auto;
  border-radius: 2% 0 0 2%;
  transform: translateX(0.2vw) translateY(0.7vh);
}
.pageIndicator_container {
  opacity: 1;
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: calc(90vw - 4px);
  height: 20px;
  z-index: -1;
}
.pageIndicator {
  width: 0.8vw;
  height: 2px;
  border: none;
  margin: 1px;
  background-color: var(--gray);
}
.active_pageIndicator {
  background-color: var(--smokewhite);
}
.miniModal {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  animation: miniModalGrow 1000ms;
}
.leftModal {
  position: absolute;
  z-index: 1;
  transform: translateX(60px);
  cursor: pointer;
  animation: miniModalGrowLeft 1000ms;
}
.rightModal {
  position: absolute;
  z-index: 1;
  transform: translateX(-60px);
  cursor: pointer;
  animation: miniModalGrowRight 1000ms;
}

.movieLogo {
 margin-left: 0%;
 margin-right: 55%;
}

@keyframes miniModalGrowRight {
  0% {
    transform: scale(0.65) translateY(5vw);
    opacity: 0;
  }
  80% {
    transform: scale(0.65) translateY(5vw);
    opacity: 0;
  }
  81% {
    transform: scale(0.65) translateY(5vw);
    opacity: 1;
  }
  100% {
    transform: translateX(-60px) scale(1);
  }
}

@keyframes miniModalGrowLeft {
  0% {
    transform: scale(0.65) translateY(5vw);
    opacity: 0;
  }
  80% {
    transform: scale(0.65) translateY(5vw);
    opacity: 0;
  }
  81% {
    transform: scale(0.65) translateY(5vw);
    opacity: 1;
  }
  100% {
    transform: translateX(60px) scale(1);
  }
}

@keyframes miniModalGrow {
  0% {
    transform: scale(0.65);
    opacity: 0;
  }
  80% {
    transform: scale(0.65) translateY(5vw);
    opacity: 0;
  }
  81% {
    transform: scale(0.65) translateY(5vw);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
