@import '../../assets/scss/mixins';

.modal {
  width: 100%;
  height: 100%;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  box-shadow: 1px 20px 20px rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
  @include breakpoint(xlg) {
    height: 35rem;
  }
}

.top-container {
  background: #1b1b1b;
  width: 100%;
  position: relative;
}

.overlay-items {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.video-title-wrapper {
  width: 40%;
  position: absolute;
  bottom: 5%;
  left: 1em;
  animation: videoTitleFade 7s;
  animation-fill-mode: forwards;
}

.volume-button-wrapper {
  position: absolute;
  z-index: 100;
  border-radius: 50%;
  bottom: 5%;
  right: 1.25em;
  animation: videovolumeFadeIn 6s;
  animation-fill-mode: forwards;
}

.bottom-container {
  padding: 0 1em;
  background: #1b1b1b;
  height: 100%;
  color: var (--smokewhite);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  z-index: 2;
}

.movie-poster {
  position: absolute;
  inset: 0;
}

@keyframes videoTitleFade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes modalAnimation {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1) translateX(calc('50vw'-50%));
  }
}

@keyframes videovolumeFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
