@import '../../assets/scss/mixins';

.details-wrapper {
  position: relative;
  width: 100%;
  @include breakpoint(md) {
    display: grid;
    column-gap: 2em;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  }
}

.details-left {
  margin: 0.8em 0;
}

.first-line {
  display: flex;
  align-items: center;
}

.match-title {
  color: #46d369;
  margin-right: 0.5rem;
  font-size: 0.9rem;
  @include breakpoint(sm) {
    font-size: 1rem;
  }
}

.release-title {
  margin-right: 0.5rem;
  font-size: 0.9rem;
  @include breakpoint(md) {
    font-size: 1rem;
  }
}

.duration-title {
  font-size: 0.9rem;
  @include breakpoint(md) {
    font-size: 1rem;
  }
}

.details-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-button {
  background: none;
  border: none;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @include breakpoint(md) {
    height: 2rem;
    width: 2rem;
  }
}

.details-add-button {
  margin-right: 0.5rem;
}

.details-like-button {
  margin-right: 0.5rem;
}

.details-dislike-button {
  margin-right: 0.5rem;
}

.details-description {
  line-height: 27px;
  font-size: 0.9rem;
  @include breakpoint(md) {
    font-size: 1rem;
  }
}
