@import '../../assets/scss/mixins';

.details-wrapper {
  position: relative;
  width: 100%;
  @include breakpoint(md) {
    display: grid;
    column-gap: 2em;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  }
  @include breakpoint(lg) {
    column-gap: 5em;
  }
}

.details-left {
  margin: 0.8em 0;
}

.first-line {
  display: flex;
  align-items: center;
}

.match-title {
  color: #46d369;
  margin-right: 0.5rem;
  font-size: 0.9rem;
  @include breakpoint(sm) {
    font-size: 1rem;
  }
}

.release-title {
  margin-right: 0.5rem;
  font-size: 0.9rem;
  @include breakpoint(md) {
    font-size: 1rem;
  }
}

.duration-title {
  font-size: 0.9rem;
  @include breakpoint(md) {
    font-size: 1rem;
  }
}

.details-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-description {
  line-height: 27px;
  font-size: 0.9rem;
  @include breakpoint(md) {
    font-size: 1rem;
  }
  @include breakpoint(lg) {
    font-size: 1.2rem;
  }
}

// ------------------

.details-tags {
  font-size: 0.8rem;
  line-height: 20px;
  margin: 0.5em;
  margin-left: 0;
  padding-bottom: 0.5rem;
  @include breakpoint(md) {
    font-size: 0.9rem;
  }
}

.tags-label {
  color: #777;
  margin-right: 0.3rem;
}

.tag-item {
  color: #ddd;
  margin: 0;
  cursor: pointer;
  margin-right: 0.3rem;
  &:hover {
    border-bottom: 1px solid #ddd;
  }
}
