.minimodal-button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .play-button {
    background-color: var(--white);
    border: 1px solid var(--black);
    &:hover {
      border: 1px solid var(--black);
    }
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid var(--whiteOpacity);
    border-radius: 50%;
    padding: 6px;
    color: var(--white);

    svg {
      font-size: 0.6em;
      fill: var(--white);
    }

    &:hover {
      cursor: pointer;
      border: 2px solid var(--white);
    }
  }
}

.left-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border:1px solid white;
  width: 35%;
}

.right-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.info-container {
  // background:green;
  display: flex;
  justify-content: space-between;
  width: 80%;
  color: var(--white);
}

.match {
  color: #46d369;
}
.tag-container {
  display: flex;
  justify-content: space-between;
  width: 80%;

  color: var(--whiteOpacity);
}
.tag-item-mini {
  color: var(--white);

  &:hover {
    text-decoration: none;
  }
}

// .like-button {
//   transition: all 250ms ease-in-out;
//   &:hover {
//     .rating-button-wrapper {
//       display: flex;

//     }
//   }
// }

// .rating-button-wrapper {
//   position: absolute;
//   justify-content:center;
//   align-items: center;
//   border-radius: 23px;
//   padding:6px;
//   background-color: #232323;
//   color: #a9a9a9;
//   // display:none;
//   visibility: collapse;
//   transition: all 250ms ease-in-out;
//   height:10%;
//   width: 10%;

//   &:hover{
//       width: 25%;

//       .dislike-button{
//           transform:translateX(-100%);
//       }
//       .lovelike-button{
//           transform:translateX(100%);
//       }
//   }

//   .rating-button {
//     position: absolute;
//     transition: all 250ms ease-in-out;
//     border:none;
//     padding:2px;

//     border: none;
//     &:hover {
//     position: relative;
//     border:none;
//       background-color: #303030;

//     }
//   }

// }
