@import '../../assets/scss/mixins';

.header-genre-bg-navbar {
  position: fixed;
  top: 0;
  height: 68px;
  width: 100%;
  background-color: var(--black);
  z-index: -10;
}

.container-header-genre {
  background-color: transparent;
  justify-content: flex-start;
  width: 100%;
  color: white;
  font-family: 'NetflixSansLight';
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 400;
  height: 60px;
  padding: 0 4%;
  display: flex;
  align-items: center;
  @include breakpoint(sm) {
    top: 2.5rem;
  }
  @include breakpoint(md) {
    top: 60px;
  }

  h2 {
    display: none;
    font-size: 1.8rem;
    @include breakpoint(md) {
      display: block;
    }
  }

  &.scrolled-up {
    top: 0;
    transition-timing-function: ease-in-out;
    transition: 1s;
    width: 100%;
    background: var(--black);
    z-index: 800;
    position: sticky;
  }
}

.flex-grow-dropdown {
  position: absolute;
  top: 0;
  left: 0;
  flex: 10%;
  background-color: aqua;
}

.container-icons-left {
  display: flex;
  justify-content: space-around;
  height: 2rem;
}

.toggle-list-icon,
.toggle-row-icon {
  width: 2rem;
  height: 1.5rem;
  background-color: transparent;
  border: 1px solid var(--whiteOpacity);
  padding: 2px;
  color: var(--whiteOpacity);
  cursor: pointer;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  @include breakpoint(sm) {
    width: 44px;
    height: 2rem;
  }
  &:hover {
    background: var(--midgrey);
  }
  svg {
    font-size: 0.5rem;
  }
}
