@import "../../assets/scss/mixins";

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin / padding */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
  font-size: 16px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
header {
  color: white;
  font-family: "NetflixSansLight";
  font-size: 80%;
}

.navbar {
  // @include pagePadding;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 4%;
  z-index: 2;
  transition: background-color 0.4s;
  background: var(--midgrey);
  background: transparent;
  height: 41px;
  // border: 1px solid red;

  a {
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }
}

.logo-link {
  height: 60%;
  display: flex;
  align-items: center;
  width: fit-content;
}

picture {
  height: 80%;

  svg {
    height: 100%;
    width: 100%;
  }
}

.primary-nav {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
}
.menu-trigger {
  display: flex;
  align-items: center;
  font-weight: 700;
  height: 100%;
  margin-left: 1.1em;

  &::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: var(--white) transparent transparent transparent;
    margin-left: 5px;
  }
}

.navigation-tab {
  display: none;
  margin-left: 1.1em;
}
.secondary-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  position: absolute;
  right: 4%;
  top: 0;
  height: 100%;

  :last-child {
    margin-right: 0em;
  }
}

.nav-element {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;

  :not(:last-child) {
    margin-right: 0em;
  }
}

.notifications-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-menu-item {
  display: block;
  position: relative;
  font-size: 12px;
  z-index: 0;
  height: 100%;
}
.account-dropdown-button {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;

  .caret {
    display: none;
  }
}

.account-link {
  height: 70%;
}

.profile-link {
  height: 100%;
}
.profile-icon {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5%;
}

button {
  background: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.sub-menu {
  top: 4.43em;
  left: 4%;
  position: absolute;
  background-color: var(--black);
  font-size: 13px;
  line-height: 1.31em;
  border: solid 1px var(--whiteOpacity);
  cursor: default;
}

.callout-arrow {
  position: absolute;
  top: -1.23em;
  left: 50%;
  border-width: 7px;
  margin-left: -7px;
  border-color: transparent transparent var(--smokewhite);
  border-style: solid;
  height: 0;
  width: 0;
}

.topbar {
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--smokewhite);
}

.sub-menu-item {
  transition: all 0.4s ease-in-out;
  :hover {
    // filter: brightness(130%);
    background-color: var(--black);
    //TODO change background-color .. opacity;
  }

  a {
    width: 260px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--midgrey);
    transition: background-color 0.4s;
  }
}

.current.active {
  color: var(--white);
}

.account-drop-down {
  position: absolute;
  right: 0;
  top: 52px;
  width: 181px;
  margin-left: 0;
  padding: 0;
  // border: 1px solid var(--midgrey);

  a {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--white);

    &:hover {
      text-decoration: underline;
    }
  }

  .callout-arrow {
    left: 96%;
  }
}

.account-drop-down .account-links,
.responsive-links {
  padding: 10px 0;
  border-top: solid 1px var(--whiteOpacity);
}
.sub-menu-item {
  padding-left: 1em;
}

.profile-name {
  margin-left: 1em;
}

.sub-menu-link {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin-left: 1em;
  }

  svg {
    color: var(--midgrey);
  }
}

.sign-out-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 870px) {
  header {
    font-size: 100%;
  }
  .navbar {
    height: 68px;
  }

  .navigation-tab {
    display: block;
  }

  .menu-trigger {
    display: none;
  }

  .account-dropdown-button {
    .caret {
      display: block;
      margin-left: 1em;
    }
  }
}
