@import "../../assets/scss/mixins";

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a {
  color: inherit;
}

header {
  color: white;
  font-family: "NetflixSansLight";
  font-size: 80%;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 4%;
  z-index: 2;
  transition: background-color 0.4s;
  background: transparent;
  background-image: linear-gradient(
    to top,
    transparent 0%,
    rgba(0, 0, 0, 0.3) 50%
  );
  height: 41px;

  &.scrolled {
    background: var(--black);
  }

  a {
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }
}

.logo-link {
  height: 60%;
  display: flex;
  align-items: center;
  width: fit-content;
  filter: brightness(1.2);
}

picture {
  height: 80%;

  svg {
    height: 100%;
    width: 100%;
  }
}

.primary-nav {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
}
.menu-trigger {
  display: flex;
  align-items: center;
  font-weight: 700;
  height: 100%;
  margin-left: 1.1em;
  cursor: pointer;
  color: inherit;

  &::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: var(--white) transparent transparent transparent;
    margin-left: 5px;
  }
}

.navigation-tab {
  display: none;
  margin-left: 1.1em;
}
.secondary-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  position: absolute;
  right: 4%;
  top: 0;
  height: 100%;

  :last-child {
    margin-right: 0em;
  }
}

.nav-element {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  position: relative;

  :not(:last-child) {
    margin-right: 0em;
  }
}

.notifications-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    font-size: 55%;
  }
}

.notifications-menu {
  font-size: 1.5em;
  line-height: 1;
  margin-top: 0.2em;
  padding: 2px 6px 3px;
}

.account-menu-item {
  display: block;
  position: relative;
  font-size: 12px;
  z-index: 0;
  height: 100%;
}
.account-dropdown-button {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;

  .caret {
    display: none;
  }
}

.account-link {
  height: 70%;
}

.profile-link {
  height: 100%;
}
.profile-icon {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5%;
}

button {
  background: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
.navigation-menu {
  .sub-menu {
    top: 4.43em;
    left: 4%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 13px;
    line-height: 1.31em;
    border: solid 1px var(--blackTrans);
    cursor: default;

    a {
      &:hover {
        background-color: rgba(20, 20, 20, 0.2);
      }
    }
  }
}

.account-drop-down {
  .callout-arrow {
    position: absolute;
    top: -1.23em;
    left: 50%;
    border-width: 7px;
    margin-left: -7px;
    border-color: transparent transparent var(--smokewhite);
    border-style: solid;
    height: 0;
    width: 0;
  }

  .sub-menu-item {
    transition: all 0.4s ease-in-out;

    a {
      // width: 260px;
      // height: 50px;
      padding: 0 1em;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      position: relative;
      color: var(--smokewhite);
      //TODO ADD VARIABLE
      background-color: rgba(0, 0, 0, 0.5);
      transition: background-color 0.4s ease;
    }
  }
}

.topbar {
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--smokewhite);
}

.active-bold {
  font-weight: bold;
  color: var(--white);
}

.account-drop-down {
  position: absolute;
  right: 0;
  top: 52px;
  width: 181px;
  margin-left: 0;
  padding: 0;

  a {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--white);
    background-color: var(--blackTrans);

    &:hover {
      text-decoration: underline;
    }
  }

  .callout-arrow {
    left: 96%;
  }
}
.responsive-links {
  background-color: var(--blackTrans);
}
.account-drop-down .account-links,
.responsive-links {
  padding: 10px 0;
  border-top: solid 1px var(--whiteOpacity);
  background-color: var(--blackTrans);
}

.profile-name {
  margin-left: 1em;
}

.sub-menu-link {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin-left: 1em;
  }

  svg {
    color: var(--midgrey);
  }
}

.sign-out-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

//notifications

.nav-element {
  .notifications-element {
    a {
      display: block;
    }
  }
}

.notifications-element {
  position: relative;

  .callout-arrow {
    border: solid 7px;
    border-color: transparent transparent #e5e5e5;
    bottom: -17px;
    height: 0;
    left: 50%;
    margin-left: -7px;
    width: 0;
    position: absolute;
  }

  .notifications-menu {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    line-height: 1;
    margin-top: 0.2em;
    padding: 2px 6px 3px;
    position: relative;
  }

  .sub-menu {
    position: absolute;
    right: 0;
    padding: 0;
    top: 54px;
    // background-color: inherit;
    background-color: var(--black);
  }

  .sub-menu-list {
    height: auto;
  }

  .notifications-container {
    display: block;
    max-height: 80vh;
    max-height: calc(100vh - 280px);
    min-height: 100px;
    overflow: auto;
    padding: 0;
    list-style: none;
    width: 408px;
  }

  .notifications {
    position: relative;
  }
}

.image-text-notifications {
  display: flex;
  flex-direction: row;

  .notifications-image {
    position: relative;
    display: flex;
    flex-grow: 0;
    align-items: center;
    // padding-left:0.5em;

    .title-card {
      width: 112px;
    }
  }

  .notifications-text {
    line-height: 1.2;
    color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 264px;
  }

  .element {
    padding: 16px;
    flex: auto;
  }

  .notifications-age {
    font-size: 12px;
    line-height: 1.3;
    color: grey;
    margin-top: 3px;
  }
}

@media screen and (min-width: 870px) {
  header {
    font-size: 100%;
  }
  .navbar {
    height: 68px;
  }

  .navigation-tab {
    display: block;
  }

  .menu-trigger {
    display: none;
  }

  .account-dropdown-button {
    .caret {
      display: block;
      transition: all 150ms ease-in-out;

      svg {
        font-size: 70%;
      }
    }
  }

  .rotate {
    transform: rotate(180deg);
  }
  .account-drop-down {
    top: 6em;
  }
  .account-link {
    padding: 5px;
  }
}
