.footer-landingpage-wrapper {
  max-width: 1000px;
  margin: 2.5em auto 0;
  padding: 0 4%;
  font-family: 'NetflixSansRegular', sans-serif;
  color: var(--gray);
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.footer-top {
  margin: 0 0 30px;
  font-size: 1.2em;
}

.box-footer-links {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 0 0.875em 0;
  padding: 0;
  text-decoration: none;
}

.item-footer-link {
  list-style-type: none;
  flex: 0 0 50%;
  margin-bottom: 1em;
}

.member-footer,
.footer-service {
  margin-bottom: 20px;
}

.container-select-lang {
  margin-top: 0.5em;
}

.ui-select {
  background: 0 0;
  color: grey;
  border: solid 1px grey;
  padding: 1em;
  margin-bottom: 20px;
  width: 156px;
  padding: 12px;
}

.footer-copyright {
  font-size: 11px;
  margin-bottom: 15px;
}

/* Desktop */
@media (min-width: 600px) {
  .footer-landingpage-wrapper {
    display: block;
    position: static;
  }
  .box-footer-links {
    display: flex;
    flex-direction: row;
  }
  .item-footer-link {
    list-style-type: none;
    flex: 0 0 25%;
    margin-bottom: 1em;
  }
}
