.footer-landingpage-wrapper {
  width: 100%;
 
  margin: 2.5em auto;
  padding: 0 4%;
  font-family: 'NetflixSansRegular', sans-serif;
  color: var(--gray);
  background-color: var(--black);
}

.footer-top {
  margin: 1.5rem 0;
  font-size: 1.2rem;
}

.footer-top-call {
  margin-left: 1.1rem;
}

.box-footer-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  // font-size: 1rem;
  margin: 0 0 0.875em 0;
}

.item-footer-link {
  flex: 0 0 50%;
  margin-bottom: 1em;
}

.container-select-lang {
  margin-top: 0.5em;
}

.selectArrowGlobe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; 
  height: 4em;
  width: 13em;
  color: var(--gray);
  border: solid 1px var(--gray);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 0.5rem;
  svg {
    height: 80%;
    width: auto;
  }
  .ui-select {
    background: transparent;
    height: 80%;
    margin: 1em;
    font-size: 1.2rem;
    outline: none;
    color: var(--gray);
    border: none;
    option {
      background-color: var(--black);
    }
  }
}


/* Desktop */
@media (min-width: 1200px) {
  .footer-landingpage-wrapper {
    max-width: 70%;
    display: flex;
    justify-content: center;
  }

  .footer-top {
  margin: 1.2rem 0;
  font-size: 1.5rem;
  }

  .box-footer-links {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem;
  }
  .item-footer-link {
    list-style-type: none;
    flex: 0 0 25%;
    margin-bottom: 1em;
  }
}
