@import '../../assets/scss/mixins';

.mini-modal-background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.466);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
