@import '../../assets/scss/mixins';

.video-container {
  position: relative;
  aspect-ratio: 16 / 9;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  margin: -1.8% 0;
  width: 100%;
  height: auto;
}

.video-content {
  overflow: hidden;
  border: 0;
  align-items: center;
  position: absolute;
  transform: translateX(-14%) translateY(-14%);
  inset: 0;
  width: 140%;
  height: 140%;
}
