@import '../../../assets/scss/mixins';

.minimodal-button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 99%;
}

.mini-modal-button {
  align-items: center;
  cursor: pointer;
  display: flex;
  border-radius: 50%;
  font-size: 0.5rem;
  justify-content: center;
  opacity: 1;
  padding: 0.4em;
  position: relative;
  @include breakpoint(xlg) {
    font-size: 1rem;
  }
}

.mini-modal-play-button {
  border: 2px solid rgba(255, 255, 255, 0.5);

  &:hover {
    border: 2px solid var(--black);
    background-color: rgb(214, 214, 214);
  }
}

.mini-modal-moreInfo-button {
  background-color: transparent;
  border: 2px solid var(--whiteOpacity);

  &:hover {
    background-color: var(--midgrey);
    border: 2px solid var(--white);
  }
}

.left-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  @include breakpoint(lg) {
    width: 0%;
  }
}

.right-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  color: var(--white);
  @include breakpoint(lg) {
    width: 40%;
  }
  @include breakpoint(xlg) {
    font-size: 1.2rem;
  }
}

.match {
  color: #46d369;
  padding-right: 0.5rem;
}

.maturity-rating {
  padding-right: 0.5rem;
}

.duration {
  padding-right: 0.5rem;
}

.left-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  @include breakpoint(lg) {
    width: 0%;
  }
}

.right-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
  color: var(--white);
}

.match {
  color: #46d369;
  padding-right: 0.5rem;
}

.maturity-rating {
  padding-right: 0.5rem;
}

.duration {
  padding-right: 0.5rem;
}

.tag-container {
  color: var(--whiteOpacity);
  white-space: normal;
  width: 90%;
  @include breakpoint(xlg) {
    font-size: 1.2rem;
  }
}

.tag-item-mini {
  color: var(--white);
  text-transform: capitalize;
  &:hover {
    text-decoration: none;
  }
}

.tag-item-circle {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
