@import "../../assets/scss/mixins";

.grid{
  position: relative;
}

.containerTitleGenre {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  align-content: flex-end;
  color: var(--white);
  padding: 0 5%;
  h2 {
    font-size: 1.4em;
    font-family: "NetflixSansBold";
  }
}
.gridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

.gridItem {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(----transparent);
  border: 3.5px solid var(--transparent);
  color: var(--white);
  border-radius: 7%;
}

.laneItemTitle {
  position: absolute;
  bottom: 10%;
  text-shadow: 1px 1px var(--black);
  color: var (--smokewhite);
  font-size: 0.8vw;
}

.movieImage {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  object-fit: contain;
  overflow: hidden;
}

.movieLogo {
 margin-left: 0%;
 margin-right: 55%;
}