.gridContainer {
  display: flex;
  flex-wrap: wrap;
}

.gridItem {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(----transparent);
  border: 3.5px solid var(--transparent);
  color: var(--white);
  border-radius: 7%;
  overflow: hidden;
}
.genreImage {
    width: 0;
    height: 0;
    object-fit: contain;
}